<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-label>
      Shree Prem Ji Maharaj
    </ion-label>
    <img slot="end" class="img1" src="assets/images/toolbar.png" />
  </ion-toolbar>
</ion-header>


<ion-content>
  <p class="p">
    श्री स्वामी सत्यानन्द महाराज जी के परम सेवक, परम भक्त एवं एक दिव्य मूर्ति
    श्री प्रेम जी महाराज
  </p>
  <img class="img" src="assets/images/images/peerage02.jpg" />
  <p class="p">
    जन्म - २ अक्टूबर सन् १९२० परम पूज्य प्रातः स्मरणीय श्री स्वामी सत्यानन्द जी
    महाराज के अध्यात्मिक उत्तराधिकारी परम भक्त एवं विनम्र सेवक पूजनीय श्री प्रेम
    जी महाराज बने. आप मन, वचन, कर्म से गुरुदेव की प्रति मूर्ति थे. आपने स्वामीजी
    की विचारधारा को ज्यूँ का त्यों विशुद्ध बनाये रखा. सर्वथा श्री स्वामीजी
    महाराज को ही आगे रखा, अपने को सदेव पीछे ही रख कर सेवक भाव बनाये रखा.
  </p>
  <p class="p">
    आप आजीवन ब्रह्मचारी रहे. नौकरी करते हुए श्री स्वामीजी के मिशन को आगे बढ़ाते
    रहे तथा जनकल्याणार्थ तन-मन-धन से सेवा करते रहे. आप अध्यात्मिक शक्ति से
    संपन्न थे, इसलिए आपके द्वारा की गई प्रार्थना सार्थक होती थी.
  </p>

  <p class="p">
    आप अपने आवागमन एवं भोजन का पूरा व्यय स्वयं वहन किया करते थे. किसी से कोई
    भेंट स्वीकार नहीं करते थे. आपकी कथनी करनी एक थी, चुप रहकर व कम बोलकर साधकों
    को अपने जीवन एवं कार्यशैली से समझा देते थे.
  </p>

  <p class="p">
    आप संकल्प-शक्ति के धनी थे. हज़ारों साधकों ने आपकी कृपा का अनुभव प्राप्त किया
    है. आपका मुख मंडल इतना तेजस्वी था की कोई भी आपसे दृष्टि नहीं मिला पाता था.
    आप २९ जुलाई १९९३ को परम धाम सिधार गए.
  </p>
  <p class="p">
    Shree Prem Ji Maharaj, admired for his humility and complete loyalty to
    Swami Satyanand Ji Maharaj, was born on October 2, 1920. He served in Delhi
    Central Government, and simultaneously pursued service to others. He did not
    accept any gifts or offerings, never let anyone touch his feet, and did not
    take service from anyone. He taught others by his example. He was quiet,
    sacrificing, and adhered to high moral and spiritual principles. He was also
    an expert of homeopathic medicine, which he liberally provided to all, and
    effected the cure of serious diseases, both with medicine and with his
    blessings.
  </p>
  <p class="p">
    Pujya Prem Ji Maharaj took upon his body the sufferings of others, and
    consequently suffered a great deal toward the end of his life. He expressed
    great strength of Soul and radiated an aura of spiritual power. He
    established Shree Ram Sharnam Ashram of Delhi, which is a popular center of
    spiritual learning. In addition, he established centers of spiritual study
    in several cities of India. Thus, he not only continued the works of Shree
    Swami Satyanand Ji Maharaj, but also spread them. After initiating thousands
    with 'Ram Naam', Pujya Prem Ji Maharaj left his body on July 29, 1993
  </p>
</ion-content>