<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-label>
      Shree Swami Satyanand Ji Maharaj
    </ion-label>
    <img slot="end" class="img1" src="assets/images/toolbar.png" />
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="p">
    परम पूजनीय प्रातः स्मरणीय श्री स्वामी सत्यानन्द जी महाराज
  </p>
  <img class="img" src="assets/images/images/peerage01.jpg" />
  <p>
    <p class="p">
      १९वीं सदी के एक शांत, दान्त, सिद्ध उच्च कोटि के महान संत थे. एक सच्चे
      अनुभवी, पहुंचे हुए पूरे सतगुरु एवं महान योगी थे.पूज्य पाद एक विलक्षण एवं
      अद्वितीय प्रतिभा संपन्न व्यक्तित्व के धनि थे, जिनका सानिध्य व संपर्क प्राप्त
      कर हम धन्य हुए है और परम सौभाग्यशाली बने हैं.
    </p>
    <p class="p">
      श्री स्वामीजी द्वारा प्रदत्त नाम दीक्षा एक रहस्यवाद है, जिसमें स्वामीजी अपनी
      संकल्प शक्ति से साधक के अंत कारण में राम नाम एक जाग्रतचैतन्य मन्त्र को
      स्थापित करते हैं. जिस प्रकार बीजारोपण एक विशेष प्रकार से तैयार हुई भूमि में
      किया जाता है और उसके उपरांत जब देखभाल की जाती है तभी वह अंकुरित होता है और
      कालान्तर में वृक्ष बनता है. इसी प्रकार श्री स्वामीजी के अनुसार गुरु मार्ग
      दिखानेवाला होता है, उसका कार्य बीज बोना है.साधक का कर्त्तव्य है, सुद्रिड
      निश्चय के साथ सतत साधना रत रहना, किन्तु जिस प्रकार अच्चा बीज उल्टा सीधा कैसा
      भी भूमि में डाल दिया जाये अवश्यमेव अंकुरित होता है. उसी प्रकार सिद्ध जागृत
      संतो से मिला नाम(मंत्र) अवश्य ही अपना रंग दिखता है. साधक के आचार विचार व
      व्यवहार के परिवर्तन से इसकी अनुभूति की जा सकती है. श्री स्वामीजी १३ नवम्बर
      १९६० को भौतिक चोला छोड परम धाम सिधार गए.
    </p>
    <p class="p">
      Shree Swami Satyanand Ji Maharaj, the founder of Shree Ram Sharnam, was born
      on 7th April 1868 in Rawalpindi. He had lost his parents in his early
      childhood. At the young age of 17, he took up the company of spiritual
      teachers of Jain faith. At the age of 30, he joined the Arya Samaj, and
      studied Vedanta, Upanishads, and other sacred epics.
    </p>
    <p class="p">
      He spent the following 25 years giving spiritual talks and spreading the
      spiritual teachings from the sacred epics. During this period, he also wrote
      the following books; Dayananda Prakash, Satya Updesh Mala, Onkar Upasna,
      Arya Samajic Dharma, SandhyaYog, Ishwar Darshan, and Dayananda Vachnamrit.
      Lacking inner peace, in early 1925 he went to Dalhousie in the Himalayas, to
      meditate in solitude to seek God. On 7th July 1925 the day of Vyas Purnima,
      Swamiji was blessed with the sounds and inner vision of 'Ram Naam', and
      with the realization of his soul's oneness with God. In 1928, he began
      initiating his followers with 'Ram Naam'.
    </p>
    <p class="p">
      He wrote additional books, namely, Bhakti Prakash, Valmikis Ramayana-sar,
      Sri Bhagwat Gita, Akadashopnishad Sangrah, Pravachan Piyush (Collection of
      Swami Ji's Lectures), Prarthna Aur Uska Prabhav, Upasak Ka Anteric Jeevan,
      Bhakti Aur Bhakt Ke Lakshan, Sthitpragya Ke Lakshan, Bhajan Avam Dhavani
      Sangrah, and Amritvani. These volumes are published by Shree Swami Satyanand
      Dharmarth Trust, New Delhi, and are sold at price below cost. Swamiji has
      written these epics through inner guidance gained in a state of samadhi. Of
      all these wonderful books, AMRITVANI has uniquely become universally popular
      because of its deep Spiritual Power. It is presented in a small book and is
      widely recited because of its unique power in invoking devotion to Ram.
      Swami Ji did not start a separate Spiritual Path. He was a God-realized
      Saint, like Sant Kabir, Guru Nanak, Samarth Ramdas, Goswami Tulsidas, Sri
      Ramakrishan Paramhansa and Maharishi Dayanand. Goal of his teaching was to
      intensify devotion to God through concentration on 'Ram Naam'.
    </p>
    <p class="p">
      Swami Ji initiated Sadhna Satsangs for serious devotees to practice
      detachment, devotion, purity of body and mind, and healthy living habits.
      The first Sadhna Satsang was held in Haridwar, followed by many camps all
      over India. On November 13, 1960 while chanting 'Ram Naam', Swamiji gave
      up his physical body after transferring his Spiritual Powers to his dear
      disciple Shree Prem Ji Maharaj, and designating him as the one to replace
      him. Shree Swamiji’s body was immersed in the Holy Ganges at Neel-Dhara
      near Haridwar, which has since become a unique Holy Place for all Amritvani
      devotees.
    </p>
</ion-content>