

<ion-content>
  <ion-list>
    <img class="imgcen" src="assets/images/am_swami.jpg" />
    <p class="pp">
      Venerable Param Pujya Swami Satyanand JI Maharaj established this Religious
      Centre named SHREE RAM SHARNAM, literally meaning 'taking refuge in RAM'
      the Ashram overwhelmingly rectifies our aberrations through the
      'Maha-Mantra' of 'RAM-NAAM'.
    </p>
    <p class="pp">
      Shree Ram Sharnam is primarily a spiritualistic centre but it imparts
      invaluable practical foresight on leading a responsible, disciplined and
      dignified life as adaptable to the changing time. The dissemination of
      spirituality, love and duties in this manner is efficacious for the society
      and the person (Sadhak) at large. On entering the portals of Shree Ram
      Sharnam, one is at once struck by the divinity in its ambience. It lends
      inner calm and serenity, that helps in driving away the scares and anxieties
      for sure; though in an invisible manner.
    </p>
    <p class="pp">
      Shree Ram Sharnam provides the Godsend opportunity to us, the hapless souls
      who yearn for a few drops of, the purest of pure nectar of Spirituality. The
      hallmark of the Satsang initiated and blessed by the venerable Swami
      Satyanand Ji Maharaj is in its complete simplicity, discipline and
      punctuality. Satsangs are devoid of any ostentation and pretensions and no
      one is expected to make any offering or the contribution. The only
      commitment from the Sadhaks is towards the spiritual gains. The 'Sadhak'
      comes to the Satsang with the sole objective of seeking inner peace, higher
      spiritual attainment and proximity to the God. In addition, endowed and
      blessed with an everlasting wish that one does-not returns to the world
      (moksha)!
    </p>
  </ion-list>


</ion-content>
