
<ion-content>
  <ion-list *ngFor="let prayerCentres of PrayerCentres" (click)="OpenWeb(prayerCentres.url)">
    <ion-item>
      <div class="div_20">
        <!-- <img src="{{prayerCentres.image}}" placeholder='assets/images/ram_text.png' /> -->
        <!-- <img src="{{prayerCentres.image}} || assets/images/ram_text.png"/> -->
        <img src="{{prayerCentres.image.trim() === 'null' ?   'assets/images/ram_text.png' : prayerCentres.image.trim() }}">

      </div>
      <ion-label class="label">
        {{prayerCentres.title}}
      </ion-label>
    </ion-item>


  </ion-list>
</ion-content>
