

<ion-content>
  <ion-list>
    <p class="pp">
      Shree Swami Satyanand Dharmarth Trust was formed on 02/05/1936 at Lahore as per the desire, blessings and
      direction of Swami Satyanandji Maharaj for propagating his teachings and also printing and publishing of his
      holy works.
      The following founder trustees were inducted as per the desire of Swami Ji.
    </p>
    <p class="pp">
      Lala Bindra Ban Sondhi
    </p>
    <p class="pp">
      Salig Niwas Jullundher
    </p>
    <p class="pp">
      Rai Bahadur Diwan Badri Dass
    </p>
    <p class="pp">
      Advocate Lahore
    </p>
    <p class="pp">Sh. Thakur Dutt Sharma</p>
    <p class="pp">Prop. Amrit Dhara</p>
    <p class="pp">Lala Achru Ramji</p>
    <p class="pp">Lala Satya Pal Virmaniji</p>
    <p class="pp">Prop. Jawala Floor Mill Amritsar</p>

    <p class="pp">
      Swamiji Maharaj through penned the following holy works out of humility, always professed that he was not the
      creator of the work but merely writing the 'DIVINE MESSAGE' that he received from 'LORD RAM'
    </p>

    <p class="pp">Amritvani</p>
    <p class="pp">Bhakti Prakash</p>

    <p class="pp">Valmiki Ramayana-sar</p>

    <p class="pp">Shrimad Bhagvad Gita</p>

    <p class="pp">Akadashopnishad Sangraha</p>
    <p class="pp">Prarthna Aur Uska Prabhav</p>

    <p class="pp">Upasak Ka Aantrik Jeevan</p>
    <p class="pp">Bhakti Aur Bhakt Ke Lakshan</p>
    <p class="pp">Sthitpragya Ke Lakshan</p>
    <p class="pp">Bhajan Avam Dhavani Sangrah</p>

    <p class="pp">Pravachan Piyush Collection of Swami Ji's Lectures</p>

    <p class="pp">
      Swamiji Maharaj entrusted the original manuscripts of the above Holy Works to the trust and also authorised
      the trust in writing to print and publish the holy works.
      In pursuance to the desire and with blessings of Shree Maharajji in 1962 a Central Shree Ram Sharnam was
      established in Delhi for propagating the spiritual message of Swamiji. Sh. Roshan Lal s/o Rai Bahadur Jodha
      Mal donated the land by the virtue of gift deed and Lala Bhagwan Das Katyal erected the building for Shree Ram
      Sharnam at 8 Ring Road, Lajpat Nagar-IV, New Delhi.
      On completion of the building of Shree Ram Sharnam, regular satsang, religious discourses were started
      propagating the message and Holy Works of Shree Swamiji Maharaj under the patronage of Swamiji Maharaj's
      successor Shree Prem Ji Maharaj (Sh. Premnath Sethiji).
      The spiritual head of Shree Ram Sharnam Swami Vishwa Mitterji Maharaj (Dr. V.M. Mahajan Ji) succeeded Shree
      Prem Ji Maharaj. The trust and the devotees felt both honoured when Swami Vishwa Mitterji consented to succeed
      Shree Premji Maharaj and take over as spiritual head of Shree Ram Sharnam.
      The followings are the honourable present trustees of the trust.
    </p>

    <p class="pp">Sh. Virendra Katyal</p>
    <p class="pp">Sh. Anil Dewan</p>
    <p class="pp">Sh. Amitab Virmani</p>
    <p class="pp">Sh. Ram Babu Goel</p>
    <p class="pp">Sh. Gyanesh Kudaisya</p>

  </ion-list>
</ion-content>
