.p {
  font-size: 15px;
  text-align: center;
}
.pp {
  margin: 10px;
}
.img {
  height: 40px;
  width: 100px;
  max-width: 100%;
  border: 0;
  display: block;
  
}

.imgcen {
  height: 100%;
  width: 100px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.ppp {
  font-size: 10px;
  text-align: center;
}
.img1 {
  height: 30px;
  width: 100px;
  max-width: 100%;
  border: 0;
}