<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    <ion-label>
      Download List
    </ion-label>
    <img slot="end" class="img1" src="assets/images/toolbar.png"/>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" class="ion-text-center" (click)="dhunsDownloadList()">
        <img src="http://www.ibiblio.org/ram/json/music.png" />
        <ion-label>Dhuns</ion-label>
      </ion-col>
      <ion-col size="6" class="ion-text-center" (click)="pravachanDownloadList()">
        <img src="http://www.ibiblio.org/ram/json/music.png" />
        <ion-label>Pravachan</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="ion-text-center" (click)="bhajansDownloadList()">
        <img src="http://www.ibiblio.org/ram/json/music.png" />
        <ion-label>Bhajans</ion-label>
      </ion-col>
      <ion-col size="6" class="ion-text-center" (click)="audioFromGranthDownloadList()">
        <img src="http://www.ibiblio.org/ram/json/music.png" />
        <ion-label>Audio From Granth</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
