<ion-tabs>

  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-label>
        Audio From Granth
      </ion-label>
      <img slot="end" class="img1" src="assets/images/toolbar.png" />
    </ion-toolbar>
  </ion-header>

  <ion-tab-bar slot="top">
    <ion-tab-button tab="bhaktiprakash">
      <ion-label>Bhaktiprakash</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ramayansaar">
      <ion-label>Ramayansaar</ion-label>
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>