<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-label>
      Shree Vishwa Mitter Ji Maharaj
    </ion-label>
    <img slot="end" class="img1" src="assets/images/toolbar.png" />
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="p">
    परम पूज्य श्री प्रेम जी महाराज के अध्यात्मिक उत्तराधिकारी श्रद्धेय डा. श्री
    विश्वामित्र जी महाराज
  </p>
  <img class="img" src="assets/images/images/peerage03.jpg" />
  <p class="p">
    परम पूजनीय श्री प्रेम जी महाराज के अन्तरंग शिष्य डॉ. श्री विश्वमित्र जी
    महाराज ने आल इंडिया इंस्टिट्यूट ऑफ मेडिकल साइंसिज, नई दिल्ली में २२ वर्षों
    तक गौरव शाली सेवा की. आप एशिया के अकेले ओक्यूलर मिक्रोबिओलोगिस्ट के रूप में
    विख्यात हुए, प्रभु प्रेम का आकर्षण आपको संसार से बाँध नहीं पाया.
  </p>
  <p class="p">
    आपकी वाणी में विलक्षण तेज, ओज एवं सत्य का प्रभाव है. आपके प्रवचन एवं भजन
    कीर्तन-गायन से सभी श्रोतागण मुग्ध हों जाते हैं.आपके तप का प्रभाव आपके तेजोमय
    मुख-मंडल से स्पष्टतः दृष्टिगोचर होता है. आप अपने आवागमन एवं भोजन का पूरा
    व्यय स्वयं वहन किया करते हैं, तथा किसी से कोई भेंट स्वीकार नहीं करते.
  </p>
  <p class="p">
    आप राम नाम को जीवन का एक मात्र उद्देश्य बनाते हुए पूज्य श्री स्वामीजी महाराज
    द्वारा स्थापित आदर्श परम्पराओं का दृढ़ता पूर्वक निर्वहन करते हुए अपने तेजोमय
    प्रभा मंडल से समूचे भारत एवं विश्व को प्रकाशित कर रहे हैं. आप दर्शन मात्र से
    ही सबको आनंदित एवं प्रफुल्लित कर देते हैं. ऐसे विलक्षण व्यक्तित्व के धनी हैं
    आप. स्वामी श्री विश्वमित्र जी महाराज 2 जुलाई 2012 को लगभग 72 वर्ष की आयु में
    भौतिक चोला छोड परम धाम सिधार गए.
  </p>
  <p class="p">
    Born on March 15, 1940 in Narowal District Sialkot (West Pakistan), Pujya
    Vishwa Mitter Ji Maharaj received his early education in Hissar, followed by
    Master’s and Doctor’s degrees from the All India Institute of Medical
    Sciences (AIIMS) in New Delhi. After 22 year’s service as an Ocular
    Microbiologist at AIIMS, he took voluntary retirement. Pujya Vishwa Mitter
    Ji Maharaj came to know Shree Prem Ji Maharaj in 1964, at the young age of
    24. Although he was skeptical in the beginning about Gurus and Saints, Dr.
    Vishwa Mitter Ji Maharaj quickly realized the unique personality of Param
    Pujya Prem Ji Maharaj as that of a true devotee of God with high ideals, who
    was spreading 'Ram Naam'. He asked Param Pujya Prem Ji Maharaj to bless
    him with 'the ability to be a humble human being and to serve humanity'.
  </p>
  <p class="p">
    Maharaj Ji never married and achieved great professional success as a
    leading Ocular Microbiologist in whole of Asia. Yet he felt unfulfilled,
    until he renounced everything and went to Manali, where he spent the next
    five and Half years in search of God. His intense Sadhna expanded his
    spiritual understanding such that now he can easily speak at length on
    various complex spiritual subjects. At the loving request of the Trustees of
    Shri Satyanand Ji Maharaj Dharmarth Trust, and other devotees, Pujya Vishwa
    Mitter Ji Maharaj accepted the responsibility and moved to Delhi. He became
    the Spiritual Successor of Param Pujya Prem Ji Maharaj, and because of a
    unique expression in him of spiritual and devotional qualities of both Shree
    Swami Satyanand Ji Maharaj and Shree Prem Ji Maharaj, certain devotees
    lovingly call him 'three-in-one'.
  </p>
  <p class="p">
    Pujya Vishwa Mitter Ji Maharaj conveys much through a few words. His
    scientific background enables him to convey spiritual truths with a
    scientific perspective. He is indeed an incarnation of humility and service
    to humanity. He does not consider himself a Guru, but wants to be seen as a
    servant of all. This lack of pride in his personal nature, in the face of
    such achievements, attracts everyone to him. On 2nd July 2012 while chanting
    'Ram Naam', Param Pujya Shree Vishwa Mitter Ji Maharaj gave up his
    physical body at Neel Dhara. Shree Maharaj Ji’s body was immersed in the
    Holy Ganges at Neel-Dhara near Haridwar, on 3rd July 2012 at 06:00PM (IST)
  </p>
</ion-content>