<ion-tabs>

  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-label>
        Pravachan
      </ion-label>
      <img slot="end" class="img1" src="assets/images/toolbar.png" />
    </ion-toolbar>
  </ion-header>

  <ion-tab-bar slot="top">
    <ion-tab-button tab="audio-cassettes">
      <ion-label>Audio Cassettes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="audio-ramayan">
      <ion-label>Audio Ramayanji</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="audio-cd">
      <ion-label>Audio Cd's</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="audio-video">
      <ion-label>Video Cd's</ion-label>
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>