<ion-fab *ngFor="let audiodata of AudioDhuns" vertical="center" horizontal="end" edge slot="fixed"
  (click)="start(audiodata)">
  <ion-fab-button color="primary">
    <ion-icon name="play"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-content>
  <ion-list *ngFor="let audiodata of AudioDhuns">
    <ion-item-sliding>
      <ion-item lines="none">
        <ion-card>

          <div class="div_20">
            <img src="{{audiodata.image}}" />
          </div>
          <ion-label class="label">
            {{audiodata.title}}
          </ion-label>
        </ion-card>
      </ion-item>
      <ion-item-options side="end">
        <button ion-button (click)="removeplaylistdhuns(audiodata)">
          <ion-icon class="icon-inner" slot="icon-only" name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer *ngIf="activeTrack">
  <ion-toolbar color="dark">
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        {{activeTrack.title}}
      </ion-col>
      <ion-col size="12">
        <ion-range #range [(ngModel)]="progress" max="100" color="primary" (touchend)="seek()" (mouseup)="seek()">
        </ion-range>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-button fill="clear" (click)="prev()" color="primary">
          <ion-icon slot="icon-only" name="skip-backward"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="togglePlayer(false)" *ngIf="!isPlaying" color="primary">
          <ion-icon slot="icon-only" name="play"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="togglePlayer(true)" *ngIf="isPlaying" color="primary">
          <ion-icon slot="icon-only" name="pause"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="next()" color="primary">
          <ion-icon slot="icon-only" name="skip-forward"></ion-icon>
        </ion-button>

      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
