.div_20 {
  width: 20%;
  display: inline-block;
  margin: 0px;
  padding: 5px;
  float: left;
}
.label {
  height: 50px;
  display: flex;
  align-items: center;
  word-break: break-all;
  white-space: normal;
}

.icon-inner {
  font-size: 25px;
  display: block;
  color: var(--ion-color-primary);

}
.img1 {
  height: 30px;
  width: 100px;
  max-width: 100%;
  border: 0;
}

.ppp {
  font-size: 10px;
  text-align: center;
}
ion-card {
  width: 100%;
  margin-top: 11px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}
.list-ios {
  margin-bottom: 0px !important;
}
ion-list {
  padding: 0px;
}
