<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-label>
      Audio From Granth Downloadlist
    </ion-label>
    <img slot="end" class="img1" src="assets/images/toolbar.png" />
  </ion-toolbar>
</ion-header>

<div>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-segment mode="md" [(ngModel)]="segment">
          <ion-segment-button value="bhaktiprakash">
            <ion-label class="ppp">
              Bhaktiprakash
            </ion-label>
          </ion-segment-button>
          <ion-segment-button value="ramayansaar">
            <ion-label class="ppp">Ramayansaar </ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<ion-content>


  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'bhaktiprakash'">
      <ion-fab  *ngFor="let bhakti of Bhaktiprakash" vertical="center" horizontal="end" edge slot="fixed" (click)="downloadAllbhakti()">
        <ion-fab-button color="primary">
          <ion-icon name="download"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-list *ngFor="let bhakti of Bhaktiprakash">
        <ion-item-sliding>
          <ion-item lines="none">
            <ion-card>

              <div class="div_20">
                <img src="{{bhakti.image}}" />
              </div>
              <ion-label class="label">
                {{bhakti.title}}
              </ion-label>
            </ion-card>
          </ion-item>

          <ion-item-options side="end">
            <button ion-button (click)="removeplaylistbhakti(bhakti)">
              <ion-icon class="icon-inner" slot="icon-only" name="trash"></ion-icon>
            </button>
            <button ion-button (click)="downloadplaylistbhakti(bhakti)">
              <ion-icon class="icon-inner" slot="icon-only" name="download"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
    <div *ngSwitchCase="'ramayansaar'">
      <ion-fab  *ngFor="let ramayan of Ramayansaar" vertical="center" horizontal="end" edge slot="fixed" (click)="downloadAllramayan()">
        <ion-fab-button color="primary">
          <ion-icon name="download"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-list *ngFor="let ramayan of Ramayansaar">
        <ion-item-sliding>
          <ion-item lines="none">
            <ion-card>

              <div class="div_20">
                <img src="{{ramayan.image}}" />
              </div>
              <ion-label class="label">
                {{ramayan.title}}
              </ion-label>
            </ion-card>
          </ion-item>
          <ion-item-options side="end">
            <button ion-button (click)="removeplaylistramayan(ramayan)">
              <ion-icon class="icon-inner" slot="icon-only" name="trash"></ion-icon>
            </button>
            <button ion-button (click)="downloadplaylistramayan(ramayan)">
              <ion-icon class="icon-inner" slot="icon-only" name="download"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>


  </div>
</ion-content>


<ion-footer *ngIf="activeTrack">
  <ion-toolbar color="dark">
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        {{activeTrack.title}}
      </ion-col>
      <ion-col size="12">
        <ion-range #range [(ngModel)]="progress" max="100" color="primary" (touchend)="seek()" (mouseup)="seek()">
        </ion-range>
        <!-- <div class="rangePlaytime">
          <ion-label class="startTime" color="light">{{ display_position }}</ion-label>
          <ion-label class="endTime" color="light" *ngIf="duration == -1">--:--</ion-label>
          <ion-label class="endTime" color="light" *ngIf="duration != -1">{{ display_duration }}</ion-label>
        </div> -->
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-button fill="clear" (click)="prev()" color="primary">
          <ion-icon slot="icon-only" name="skip-backward"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="togglePlayer(false)" *ngIf="!isPlaying" color="primary">
          <ion-icon slot="icon-only" name="play"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="togglePlayer(true)" *ngIf="isPlaying" color="primary">
          <ion-icon slot="icon-only" name="pause"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="next()" color="primary">
          <ion-icon slot="icon-only" name="skip-forward"></ion-icon>
        </ion-button>

      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>