<ion-content>
  <ion-list *ngFor="let videodata of VideoDhuns" >
    <ion-item-sliding>
      <ion-item lines="none" (click)="PlayVideo(videodata.url, videodata.title)">
        <ion-card>

          <div class="div_20">
            <img src="{{videodata.image}}" />
          </div>
          <ion-label class="label"> {{videodata.title}}</ion-label>
        </ion-card>
      </ion-item>
      <ion-item-options side="end">
        <button ion-button (click)="addtoplaylistvideo(videodata)">
          <ion-icon class="icon-inner" slot="icon-only" name="musical-note"></ion-icon>
        </button>
        <button ion-button (click)="addtodownloadlistvideo(videodata)">
          <ion-icon class="icon-inner" slot="icon-only" name="download"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>